<footer>
    <div class="social-icons-container">
        <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
        <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
    </div>
    <ul class="footer-menu-container">
        <li class="menu-item">Legal</li>
        <li class="menu-item">Cookies</li>
        <li class="menu-item">Privacidad</li>
        <li class="menu-item">Envíos</li>
        <li class="menu-item">Devoluciones</li>
    </ul>
    <span class="copyright">&copy;2022, FitXperience. All rights reserved.</span>
</footer>