<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <img src="#" alt="LOGO">
        
        <div>
            <h3>¿Que estas buscando?</h3>
            <div>
                icono de busqueda
            </div>
        </div>
        
        <div>
            <img src="#" alt="Usuario">
        </div>
    </header>

        <nav class="barradenav">
            <img src="#" alt="Favoritos">
            <img src="#" alt="Carrito de compras">
            <ul categorias>
                <li>Barras</li>
                <li>pesas</li>
                <li>equipos</li>
            </ul>
        </nav>

<section>
    <h3>Nombre del producto</h3>
    <img src="#" alt="imagen del producto">
    <div>
        <img src="#" alt="imagen de producto X">
        <img src="#" alt="imagen de producto X">
        <img src="#" alt="imagen de producto X">
    </div>
</section>

<span>
    <span class="detalledeproducto">
        <h3>Detalle del producto</h3>
    </span>
    <p>descripcion detallada del producto </p>
    </div>
</span>

<span>
    <div> <h3>Precio</h3> </div>
    <div> <h3> Formas de Pago</h3> </div>
</span>

<div>
    <h3></h3>
</div>

</body>
</html>