<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('./partials/head') %>
        <title>Detalle de Productos</title>
        <link rel="stylesheet" href="/css/detalle-producto.css">
    
    </head>

<body>
    <!-- H    E    A    D     E    R -->
    <header>
        <nav>
            <a href="/" class="link-logo">
                <div class="logo">
                    <img src="/images/logoX.png">
                    <p>FitXperience</p>
                </div>
            </a>
            <div class="barra-navegacion">
                <input type="text" placeholder="Buscar producto">
                <a href="#"><i class="fa-solid fa-search"></i></a>
            </div>
            <div class="movil-icons">
                <a href="/carrito" class="icono-carrito"><i class="fa-solid fa-cart-shopping"></i></a>
                <a href="#" class="icono-bars"><i class="fa-solid fa-bars"></i></a>
                <a href="/login" class="icono-user"><i class="fa-solid fa-circle-user"></i></a>
            </div>
        </nav>
        <div class="sub-nav">
            <ul class="left-ul">
                <li><a href="#">Accesorios</a></li>
                <li><a href="#">Categorias</a></li>
                <li><a href="#">Ofertas</a></li>
            </ul>
            <ul class="right-ul">
                <li><a href="/register">Creá tu cuenta</a></li>
                <li><a href="#">
                        <i class="fa-solid fa-heart"></i></a></li>
                <li>
                    <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></i></a></li>
            </ul>
        </div>
    </header>


<main>
    <div class="NombreDeProducto">
        <h2 >Colchoneta</h2>
    </div>
    
    <section class="imagen-producto carrusel-mobile">
        <img src="/images/colchonetas.webp" alt="imagen de producto">
        <div class="icono-flex">
        <div class="icono"><i class="fa-solid fa-angles-left"></i></div>
        <div class="icono"><i class="fa-solid fa-angles-right"></i></div>
    </div>
    </section>
    
    <!-- carrusel -->
    <section class="contenedor-carrusel">

        <div class="flechas-carrusel">
            <a href="#" class="left-arrow"><i class="fa-solid fa-angles-left"></i></a>
            
            <div class="carrusel">
                
                <div class="productos-carrusel">
                    <img src="/images/colchonetas.webp"/>
                </div>
                
                <div class="productos-carrusel">
                    <img src="/images/colchonetas.webp"/>
                </div>
                
                <div class="productos-carrusel">
                    <img src="/images/colchonetas.webp"/>
                </div>

            </div>
            
            <a href="#" class="right-arrow"><i class="fa-solid fa-angles-right"></i></a>
        </div>
    </section>

<section class="detalle">
    <article class="detalle-de-producto">
        <h3>Detalle del Producto</h3>
            <h4>ESPECIFICACIONES:</h4>
            <ul>
                <li>-MATERIAL EXTERNO: BAGUN 100% DE AMBOS LADOS</li>
                <li>-MATERIAL INTERNO: ESPUMA DE POLIETILENO DE ALTA DENSIDAD</li>
                <li>-MEDIDAS: 100 CM X 45 CM X 3 CM</li>
                <li>-COLOR: NEGRO - ROJO - AZUL - GRIS</li>
                <li>-LAVABLE Y SUPER RESISTENTE</li>
            </ul>

    </article> 

    <article class="precio-forma-de-pago">
        <div class="precio">
            <h3 >Precio</h3>
            <p >$230.000</p>
        </div>

        <div class="pago">
            <h3>Formas de Pago</h3>
        <select name="Formas de pago" class="formas-de-pago">
            <option value="Tarjeta de credito">Tarjeta de Credito</option>
            <option value="Tarjeta de Debito">Tarjeta de Debito</option>
            <option value="Transferencia Bancaria">Transferencia Bancaria</option>
        </select>
        </div>
    </article>
</section>

<section class="productos-relacionados-container">
    <div class="productos-relacionados">
        <h4>Productos relacionados</h4>
            <div class="carrusel2">
                <div class="product product_1">
                    <img src="/images/banco-press.webp"/>
                </div>
                
                <div class="product product_2">
                    <img src="/images/pesas-rojo.webp"/>
                </div>
                
                <div class="product product_3">
                    <img src="/images/multigimnasio.webp"/>
                </div>
                <div class="product product_4">
                    <img src="/images/caminadora.webp"/>
                </div>
                <a href="#"><i class="fa-solid fa-angles-right"></i></a>
            </div>
    </div>
</section>

</main>


    <!-- FOOTER -->
    <%- include('./partials/footer') %>
    
</body>

</html>