<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <!-- CSS -->
    <link rel="stylesheet" href="/css/formulario-de-carga.css">
    <title>Creación de producto</title>
</head>
<body>
    <!-- HEADER -->
    <%- include('./partials/header')  %>
    <!-- FORMULARIO -->
<form class="datos">
<input class="controls imagen-producto" name="imagen-producto " type="file">
    <h2>Mas datos sobre el producto a subir</h2>
<div class="datos-adicionales">
    <input type="text" name="description" placeholder="Nombre del producto">
    <input type="text" name="description" placeholder="Precio del producto (solo dolares)">
    <input type="text" name="description" placeholder="Descripcion del producto">
</div>

</section>
<input class="button" type="submit" value="Subir">
</form>

</body>
</html>