<!DOCTYPE html>
<html lang="en">
​
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HomePage</title>
    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <!-- FONT OSWALD -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap" rel="stylesheet" />
    <!-- CSS -->
    <link rel="stylesheet" href="/css/home-page.css"/>
</head>
​
<body>
    <div class="nav"><%- include('./partials/reducedHeader.ejs') %></div>
​
        <!-- IMAGEN PRINCIPAL // SHOWCASE -->
        <header class="showcase">
            <h2>Fitness Experience</h2>
            <p>Venta de materiales deportivos y accesorios fitness!</p>
            <a href="/products" class="btn">Home Shop</a>
        </header>

    <div class="footer"><%- include('./partials/footer.ejs') %></div>
    <!-- SCROLL REVEAL -->
    <script src="https://unpkg.com/scrollreveal"></script>
    <!-- JS -->
    <script src="main.js"></script>
</body>
​
</html>
