<!DOCTYPE html>
<html lang="en">
​
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HomePage</title>
    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <!-- FONT OSWALD -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap" rel="stylesheet" />
    <!-- CSS -->
    <link rel="stylesheet" href="/css/home-page.css"/>
</head>
​
<body>
    <div class="nav"><%- include('./partials/reducedHeader.ejs') %></div>
    <!-- <div class="menu-btn">
        <i class="fas fa-bars"></i>
    </div>
​
    <div class="container">
        <nav class="nav-main">
            <img src="img/pexels-cottonbro-3944377.jpg" alt="LOGO" class="nav-brand" />
            <ul class="nav-menu show">
                <li><a href="#">Web Development</a></li>
                <li><a href="#">Blockchain</a></li>
                <li><a href="#">Artificial Intelligence</a></li>
                <li><a href="#">Machine Learning</a></li>
                <li><a href="#">Quantum Computing</a></li>
                <li><a href="#">Startup</a></li>
                <li><a href="#">More</a></li>
            </ul>
            <ul class="nav-menu-right">
                <li>
                    <a href=""><i class="fas fa-search"></i></a>
                </li>
            </ul>
        </nav>
        <hr> -->
​
        <!-- IMAGEN PRINCIPAL // SHOWCASE -->
        <header class="showcase">
            <h2>Fitness Experience</h2>
            <p>Venta de materiales deportivos y accesorios fitness!</p>
            <a href="/products" class="btn">Home Shop</a>
        </header>


        <!-- NEWS CARDS -->
        <!-- <div class="news-cards">
            <div>
                <img src="img/news1.jpg" alt="">
                <h3>Lorem, ipsum dolor.</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis odit quod corrupti praesentium
                    ipsum dolores quaerat quo dolorem debitis adipisci!</p>
                <a href="#">Learn more <i class="fas fa-angle-double-right"></i></a>
            </div>
            <div>
                <img src="img/news2.jpg" alt="">
                <h3>Lorem, ipsum dolor.</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis odit quod corrupti praesentium
                    ipsum dolores quaerat quo dolorem debitis adipisci!</p>
                <a href="#">Learn more <i class="fas fa-angle-double-right"></i></a>
            </div>
            <div>
                <img src="img/news3.jpg" alt="">
                <h3>Lorem, ipsum dolor.</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis odit quod corrupti praesentium
                    ipsum dolores quaerat quo dolorem debitis adipisci!</p>
                <a href="#">Learn more <i class="fas fa-angle-double-right"></i></a>
            </div>
            <div>
                <img src="img/news4.jpg" alt="">
                <h3>Lorem, ipsum dolor.</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis odit quod corrupti praesentium
                    ipsum dolores quaerat quo dolorem debitis adipisci!</p>
                <a href="#">Learn more <i class="fas fa-angle-double-right"></i></a>
            </div>
        </div>
​
        <section class="cards-banner-one">
            <div class="content">
                <h2>Lorem, ipsum dolor.</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis suscipit possimus sequi perferendis
                    mollitia excepturi exercitationem fuga iusto quia saepe?</p>
                <a href="#" class="btn">Learn More <i class="fas fa-angle-double-right"></i></a>
            </div>
        </section> -->
​
        <!-- NEWS CARDS -->
        <!-- <div class="news-cards">
            <div>
                <img src="img/news1.jpg" alt="">
                <h3>Lorem, ipsum dolor.</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis odit quod corrupti praesentium
                    ipsum dolores quaerat quo dolorem debitis adipisci!</p>
                <a href="#">Learn more <i class="fas fa-angle-double-right"></i></a>
            </div>
            <div>
                <img src="img/news2.jpg" alt="">
                <h3>Lorem, ipsum dolor.</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis odit quod corrupti praesentium
                    ipsum dolores quaerat quo dolorem debitis adipisci!</p>
                <a href="#">Learn more <i class="fas fa-angle-double-right"></i></a>
            </div>
            <div>
                <img src="img/news3.jpg" alt="">
                <h3>Lorem, ipsum dolor.</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis odit quod corrupti praesentium
                    ipsum dolores quaerat quo dolorem debitis adipisci!</p>
                <a href="#">Learn more <i class="fas fa-angle-double-right"></i></a>
            </div>
            <div>
                <img src="img/news4.jpg" alt="">
                <h3>Lorem, ipsum dolor.</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis odit quod corrupti praesentium
                    ipsum dolores quaerat quo dolorem debitis adipisci!</p>
                <a href="#">Learn more <i class="fas fa-angle-double-right"></i></a>
            </div>
        </div>
​
        <section class="cards-banner-two">
            <div class="content">
                <h2>Lorem, ipsum dolor.</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam molestiae neque, consequuntur eaque,
                    sint dicta ut debitis aperiam quis odit quaerat labore dolorem deserunt error, repellat nihil nam
                    fugit ducimus!</p>
                <a href="#" class="btn">Learn More <i class="fas fa-angle-double-right"></i></a>
            </div>
        </section> -->
​
        <!-- SOCIAL -->
        <!-- <section class="social">
            <p>Follow Notiworld</p>
            <div class="links">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
            </div>
        </section>
    </div>
    <div class="footer-links">
        <div class="footer-container">
            <ul>
                <li>
                    <a href="#">
                        <h3>Title One</h3>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <h3>Blockchain</h3>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <h3>Blockchain</h3>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <h3>Blockchain</h3>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <h3>Blockchain</h3>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <h3>Blockchain</h3>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <h3>Blockchain</h3>
                    </a>
                </li>
​
            </ul>
            <ul>
                <li>
                    <a href="#">
                        <h3>Title One</h3>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <h3>Blockchain</h3>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <h3>Blockchain</h3>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <h3>Blockchain</h3>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <h3>Blockchain</h3>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <h3>Blockchain</h3>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <h3>Blockchain</h3>
                    </a>
                </li>
​
            </ul>
            <ul>
                <li>
                    <a href="#">
                        <h3>Title One</h3>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <h3>Blockchain</h3>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <h3>Blockchain</h3>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <h3>Blockchain</h3>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <h3>Blockchain</h3>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <h3>Blockchain</h3>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <h3>Blockchain</h3>
                    </a>
                </li>
​
            </ul>
            <ul>
                <li>
                    <a href="#">
                        <h3>Title One</h3>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <h3>Blockchain</h3>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <h3>Blockchain</h3>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <h3>Blockchain</h3>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <h3>Blockchain</h3>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <h3>Blockchain</h3>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <h3>Blockchain</h3>
                    </a>
                </li>
​
            </ul>
        </div>
    </div> -->
    <div class="footer"><%- include('./partials/footer.ejs') %></div>
    <!-- SCROLL REVEAL -->
    <script src="https://unpkg.com/scrollreveal"></script>
    <!-- JS -->
    <script src="main.js"></script>
</body>
​
</html>
