<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
    <!-- CSS -->
    <link rel="stylesheet" href="/css/home-page.css">
</head>
<body>
    <div class="banner">
        <picture class="banner-container">
         <img src="/images/banner--home-page.jpg" alt="">
        </picture>
         <div class="banner-aggregates">
            <p class="paragraph">
                Fit-Xperience <br>
                Con vos siempre
            </p>
            <div class="link-homeshop">
                <h2><a href="/products">Ir a la <b>TIENDA</b></a></h2>
            </div>
         </div>
    </div>
            <%- include('./partials/footer') %>

            

</body>

</html>