<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
    <!-- CSS -->
    <link rel="stylesheet" href="/css/home-page.css">
</head>
<body>
    <%- include('./partials/reducedHeader')  %>
        <!-- <section class="seccion-encabezado">
            <article class="contenedor-logo">
                    <div class="contenedor-logo-in">
                        <a href="/home-shop" class="link-logo">
                            <div class="logo-img">
                                <img src="/images/logoX.png">
                                    <div class="texto-fit">
                                        <p>FitXperience</p>
                                    </div>
                            </div>
                    </div>
            </article>       
            <article class="vos-ingreso">
                    <div class="frase-vos">
                        <h1>TU MEJOR VOS <b>AHORA</b></h1>
                    </div>
                    <div>
                        <a href="/home-shop">INGRESA SHOP</a>
                    </div>
            </article> -->
            <%- include('./partials/footer') %>

</body>

</html>