<!DOCTYPE html>
<html lang="es">
<head>
  <%- include('./partials/head') %>
  <title>Login</title>
  <link rel="stylesheet" href="/css/register.css">
  <link rel="stylesheet" href="header.css">
</head>
<body>
  <!-- HEADER -->
  <%- include('./partials/reducedHeader')  %>
  <!-- FORMULARIO -->
  <form class="form-register">
    <h4>Inicio de Sesión</h4>
    <div class="correo-electronico">
    <input class="controls" type="email" name="email" placeholder=" Correo" required><i class="fa-solid fa-envelope"></i>
    </div>
    <div class="contrasenia">
    <input class="controls" type="password" name="password" placeholder="Contraseña" required><i class="fa-solid fa-key"></i>
    </div>
    <input class="botons" type="submit" value="Ingresar">
    <p><a href="/users/register">Crear cuenta</a></p>
  </form>

  <!-- FOOTER -->
 
  

</body>
</html>