<!DOCTYPE html>
<html lang="es">
<head>
  <%- include('./partials/head') %>
  <title>Register</title>
  <link rel="stylesheet" href="/css/register.css">
  
</head>
<body>
    <!-- HEADER -->
    <%- include('./partials/reducedHeader')  %>
    <!-- FORMULARIO -->
    <form class="form-register" action="/users" method="post" enctype="multipart/form-data">
    <h4>Formulario Registro</h4>
    <div class="user-name">
    <input class="controls" type="text" name="firstName" placeholder="Nombre de usuario" required><i class="fa-solid fa-user"></i>
</div>
<div class="user-name">
  <input class="controls" type="text" name="lastName" placeholder=" Apellido"><i class="fa-solid fa-user"></i>
</div>
    <div class="correo-electronico">
    <input class="controls" type="email" name="email" placeholder=" Correo" required><i class="fa-solid fa-envelope"></i>
    </div>
    <div class="contrasenia">
    <input class="controls" type="password" name="password" placeholder="Contraseña" required><i class="fa-solid fa-key"></i>
    </div>
    <div class="contrasenia">
        <input class="controls" type="password" name="password-confirmed" placeholder="Confirme su contraseña" required><i class="fa-solid fa-key"></i>
        </div>
        <div class="opciones-de-usuario">
          <select name="opciones-de-usuario" class="controls selector-de-opciones">
            <option value="Vendedor">Vendedor</option>
            <option value="Comprador">Comprador</option>
        </select>
        </div>
        <input class="controls imagen-usuario" name="image" type="file">
        
    <input class="botons" type="submit" value="Registrar">
    <p><a href="/users/login">¿Ya tengo Cuenta?</a></p>
  </form>
</body>
</html>