* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #000;
    color: #fff;
    background-color: #000000;
    background-color: #000000;
    background-color: #000000;
background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23feff00' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    min-width: 320px;
}
.nav {
    position: relative;
    bottom: 25px;
}
.showcase {
    width: 100%;
    height: 550px;
    background: url('/images/banner-home-page.jpg') no-repeat center center/cover;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #262626;
    color: #fff;
    font-size: 15px;
    border: 1px solid #fff;
    margin: 10px 0;
    text-decoration: none;
    letter-spacing: 1px;
}
.btn:hover {
    opacity: .7;
}
.showcase h2,
.showcase p {
    margin-bottom: 10px;
    text-shadow: 2px 2px #000;
}

.showcase h2 {
    font-size: 90px;
    
}

.showcase p {
    font-size: 20px;
    
}

.footer {
    position: relative;
    top: 25px;
}

@media (max-width: 720px) {
    .showcase h2 {
        font-size: 50px;
        
    }
}

@media (max-width: 500px) {
    .showcase h2 {
        font-size: 30px;
        
    }

    .showcase p {
        font-size: 11px;
        
    }
}