* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-width: 320px;
    font-family: 'Roboto', sans-serif;
    background-color: #555;
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='40' height='40' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 25%, 1)'/><path d='M27.26 5.415c-.55 0-.9.55-.65 1l2.45 4.75c.2.5.85.5 1.15.1l3.15-4.5c.3-.4 0-1.05-.55-1.1zM10.689 8.068c-.406-.051-.822.31-.778.748l.5 5.3c.05.5.6.8 1.05.5l4.55-3.05c.45-.3.4-.95-.05-1.15l-5.1-2.3a.605.605 0 0 0-.172-.048zM2.406 24.584a.635.635 0 0 0-.345.081l-4.75 2.4c-.45.2-.5.85-.1 1.15l4.45 3.15c.4.3 1 0 1.1-.5l.3-5.55c0-.412-.31-.712-.655-.73zm40 0a.635.635 0 0 0-.345.081l-4.75 2.4c-.45.2-.5.85-.1 1.15l4.45 3.15c.4.3 1 0 1.1-.5l.3-5.55c0-.412-.31-.712-.655-.73zm-22.17 3.108a.744.744 0 0 0-.675.723l.4 5.55c.05.5.6.8 1.05.5l4.45-2.95c.45-.25.4-.9-.05-1.15l-4.8-2.6a.702.702 0 0 0-.376-.073z'  stroke-width='1' stroke='none' fill='hsla(0, 0%, 0%, 0.54)'/></pattern></defs><rect width='800%' height='800%' transform='translate(-14,-8)' fill='url(%23a)'/></svg>");
}

/* S   C   R   O   L   L   B   A   R */
/* width */
::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: transparent;
}
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(187, 168, 0);
    border-radius: 15px;
    transition: all 2s ease-in;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 230, 0);
  }

/* MAIN */

.bannner {
    width: 100%;
    display: block;
    margin: auto;
}

main {
    width: 90%;
    margin: 15px auto;
}

section {
    margin-bottom: 20px;
}

.productos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

main section article {
    background-color: #fff;
    margin: 10px 0px;
    margin-bottom: 20px;
    outline: rgb(255, 230, 2) 1px solid;
    width: 60%;
    margin: 10px auto;
    margin-bottom: 20px;
}

main section article a {
    color: #000;
}

main section article {
    width: 90%;
}

main section article p,
main section article h4 {
    font-size: 14px;
}

main section a {
    text-decoration: none;
}

main section h3 {
    display: inline-block;
    color: #fff;
    font-size: 16px;
    margin-bottom: 5px;
}

main section h3:hover {
    color: rgb(255, 230, 2);
}

main section article img {
    width: 100%;
}

main section article i,
.descuento {
    color: #39B54A;
}

article .main-article {
    width: 100%;
    border-top: 2px solid #777;
    position: relative;
    padding: 5px;
}

article .main-article .div-precio-descuento {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.precio,
.descuento,
.descripcion {
    margin-bottom: 5px;
}

.descuento {
    font-weight: bold;
    margin-left: 10px;
}

.descripcion {
    font-size: 12px;
}

.boton-eliminar {
    background-color: rgb(240, 44, 44);
    color: #fff;
    padding: 3px;
    border: none;
}



/* MEDIA QUERYS */

@media (min-width: 420px) {

    .bannner {
        width: 90%;
    }

    main {
        margin: 30px auto;
    }

    section {
        margin-bottom: 25px;
    }

    main section h3 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    main section article {
        box-shadow: none;
        width: 100px;
        height: 200%;
    }

    main section article img {
        object-fit: cover;
        height: 100%;
    }

    main section article .descripcion {
        display: block;
    }

    main section article:hover {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    main section .productos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    main section .productos article {
        width: 45%;
    }

    .precio,
    .descuento {
        width: 50%;
    }

    .descripcion {
        font-size: 1rem;
    }
}

@media (min-width: 769px) {

    main section .productos article {
        width: 22%;
    }

    main section h3 {
        font-size: 23px;
    }
}