* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #000;
    color: #fff;
    background-color: #000000;
    background-color: #000000;
    background-color: #000000;
background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23feff00' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    min-width: 320px;
}
.nav {
    position: relative;
    bottom: 25px;
}
/* a {
    color: #fff;
    text-decoration: none;
}
ul {
    list-style: none;
}
.container {
    width: 90%;
    margin: auto;
} */
/* Navegacion */
/* .nav-main {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
}
.nav-brand {
    width: 50px;
} */
/* Navegacion Izquierda */
/* .nav-main ul {
    display: flex;
}
.nav-main ul li {
    padding: 10px;
}
.nav-main ul li a:hover {
    border-bottom: 2px solid #fff;
}
.nav-main ul.nav-menu {
    flex: 1;
    margin-left: 20px;
}
.menu-btn {
    position: absolute;
    cursor: pointer;
    top: 15px;
    right: 30px;
    z-index: 2;
    font-size: 1.5rem;
    display: none;
} */
/* IMAGEN PRINCIPAL // SHOWCASE */
/* hr {
    margin: 10px 0;
} */
.showcase {
    width: 100%;
    height: 550px;
    background: url('/images/banner-home-page.jpg') no-repeat center center/cover;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #262626;
    color: #fff;
    font-size: 15px;
    border: 1px solid #fff;
    margin: 10px 0;
    text-decoration: none;
    letter-spacing: 1px;
}
.btn:hover {
    opacity: .7;
}
.showcase h2,
.showcase p {
    margin-bottom: 10px;
    text-shadow: 2px 2px #000;
}

.showcase h2 {
    font-size: 90px;
    
}

.showcase p {
    font-size: 20px;
    
}

.footer {
    position: relative;
    top: 25px;
}
/* NEWS CARDS */
/* .news-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin: 10px 0;
}
.news-cards img {
    width: 100%;
    height: 180px;
}
.news-cards h3 {
    font-size: 20px;
    margin: 10px 0;
}
.news-cards a {
    padding: 10px 0;
    color: #f2f2f2;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
}
.news-cards a:hover {
    text-decoration: underline;
} */
/* CARDS BANNER ONE */
/* .cards-banner-one {
    width: 100%;
    height: 350px;
    background: url('./img/tech-red.jpg');
    margin-bottom: 40px;
}
.cards-banner-one .content {
    width: 40%;
    padding: 90px 0 0 30px;
    color: #fff;
}
.cards-banner-one p,
.cards-banner-one h2 {
    margin: 10px 0 20px 0;
} */
/* CARDS BANNER TWO */
/* .cards-banner-two {
    width: 100%;
    height: 350px;
    background: url('./img/image-five.jpg') no-repeat center center/cover;
}
.cards-banner-two .content {
    width: 50%;
    padding: 100px 0 0 30px;
    color: #fff;
} */
/* SOCIAL */
/* .social {
    margin: 50px;
}
.social p {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}
.links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.links a {
    margin: 0 30px;
}

.links a i {
    font-size: 3rem;
} */

/* FOOTER */
/* .footer-links {
    background: #2f3640;
    color: #616161;
    font-size: 12px;
    padding: 35px 0;
}
.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
}
.footer-container ul {
    margin: 0 auto;
}
.footer-container ul li {
    line-height: 2.8;
}
.footer {
    background: #2f3640;
    color: #616161;
    font-size: 12px;
    padding: 20px 0;
    text-align: center;
    padding-bottom: 20px;
} */

/* @media (max-width: 700px) {
    .menu-btn {
        display: block;
    }
    .nav-main ul.nav-menu {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: #2f4751;
        height: 100%;
        padding: 30px;
        opacity: .9;
        transform: translateX(-400px);
        transition: transform .5s ease-in-out;
    }
    .nav-main ul.nav-menu.show {
        transform: translateX(-20px);
    }
    .nav-main ul.nav-menu li {
        padding: 20px;
        font-size: 14px;
    }
    .nav-main ul.nav-menu-right {
        margin-right: 50px;
    }
    .news-cards {
        grid-template-columns: repeat(2, 1fr);
    }
    .cards-banner-one .content,
    .cards-banner-two .content {
        width: 80%;
    }
    .footer-links .footer-container {
        grid-template-columns: repeat(2, 1fr);
    }

    


@media (max-width: 500px) {
    .news-cards {
        grid-template-columns: 1fr;
    }
    .news-cards img {
        height: 270px;
    }
    .cards-banner-one .content,
    .cards-banner-two .content {
        width: 100%;
        padding: 60px 20px;
    }
    .footer-links .footer-container {
        grid-template-columns: 1fr;
    }
}
} */

@media (max-width: 720px) {
    .showcase h2 {
        font-size: 50px;
        
    }
}

@media (max-width: 500px) {
    .showcase h2 {
        font-size: 30px;
        
    }

    .showcase p {
        font-size: 11px;
        
    }
}