*{
    font-family: 'Kanit', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}


/* body{
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 51%, rgba(208,195,3,1) 97%);
    background-repeat: no-repeat;
    background-size: auto;
    border: 3px dashed red;
} */

/* .seccion-encabezado{
    background-image: url(/images/pexels-victor-freitas-841130.jpg);
    position: absolute;
    background-size: cover;
    background-position: center;
    border: 2px dashed red;
    height: 65%;
    width: 100%;
    top: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: grid;
}

.contenedor-logo{
    position: relative;
    height: 25%;
}

.logo-img{
    display: flex;
    position: relative;
    height: 10rem;
}

img{
    margin: 1rem;
    padding: 0;
    max-width: 50%;
    max-height: 50%;
}

.texto-fit{
    padding-top: 2.5rem;
}

.vos-imgreso{
    position: relative;
    width: 100%;
    height: 75%;
} */