* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-width: 320px;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(21, 21, 21, 0.989);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23555555' stroke-width='1.6'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23FFEE33'%3E%3Ccircle cx='769' cy='229' r='6'/%3E%3Ccircle cx='539' cy='269' r='6'/%3E%3Ccircle cx='603' cy='493' r='6'/%3E%3Ccircle cx='731' cy='737' r='6'/%3E%3Ccircle cx='520' cy='660' r='6'/%3E%3Ccircle cx='309' cy='538' r='6'/%3E%3Ccircle cx='295' cy='764' r='6'/%3E%3Ccircle cx='40' cy='599' r='6'/%3E%3Ccircle cx='102' cy='382' r='6'/%3E%3Ccircle cx='127' cy='80' r='6'/%3E%3Ccircle cx='370' cy='105' r='6'/%3E%3Ccircle cx='578' cy='42' r='6'/%3E%3Ccircle cx='237' cy='261' r='6'/%3E%3Ccircle cx='390' cy='382' r='6'/%3E%3C/g%3E%3C/svg%3E");

/*     background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='40' height='40' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 0%, 25%, 1)'/><path d='M27.26 5.415c-.55 0-.9.55-.65 1l2.45 4.75c.2.5.85.5 1.15.1l3.15-4.5c.3-.4 0-1.05-.55-1.1zM10.689 8.068c-.406-.051-.822.31-.778.748l.5 5.3c.05.5.6.8 1.05.5l4.55-3.05c.45-.3.4-.95-.05-1.15l-5.1-2.3a.605.605 0 0 0-.172-.048zM2.406 24.584a.635.635 0 0 0-.345.081l-4.75 2.4c-.45.2-.5.85-.1 1.15l4.45 3.15c.4.3 1 0 1.1-.5l.3-5.55c0-.412-.31-.712-.655-.73zm40 0a.635.635 0 0 0-.345.081l-4.75 2.4c-.45.2-.5.85-.1 1.15l4.45 3.15c.4.3 1 0 1.1-.5l.3-5.55c0-.412-.31-.712-.655-.73zm-22.17 3.108a.744.744 0 0 0-.675.723l.4 5.55c.05.5.6.8 1.05.5l4.45-2.95c.45-.25.4-.9-.05-1.15l-4.8-2.6a.702.702 0 0 0-.376-.073z'  stroke-width='1' stroke='none' fill='hsla(0, 0%, 0%, 0.54)'/></pattern></defs><rect width='800%' height='800%' transform='translate(-14,-8)' fill='url(%23a)'/></svg>"); */
}

/* S   C   R   O   L   L   B   A   R */
/* width */
::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: transparent;
}
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(187, 168, 0);
    border-radius: 15px;
    transition: all 2s ease-in;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 230, 0);
  }

/* MAIN */

.bannner {
    width: 100%;
    display: block;
    margin: auto;
}

main {
    width: 90%;
    margin: 15px auto;
}

section {
    margin-bottom: 20px;
}

.productos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

main section article {
    background-color: #fff;
    margin: 10px 0px;
    margin-bottom: 20px;
    outline: rgb(255, 230, 2) 1px solid;
    width: 60%;
    margin: 10px auto;
    margin-bottom: 20px;
}

main section article a {
    color: #000;
}

main section article {
    width: 90%;
}

main section article p,
main section article h4 {
    font-size: 14px;
}

main section a {
    text-decoration: none;
}

main section h3 {
    display: inline-block;
    color: #fff;
    font-size: 16px;
    margin-bottom: 5px;
}

main section h3:hover {
    color: rgb(255, 230, 2);
}

main section article img {
    width: 100%;
}

main section article i,
.descuento {
    color: #39B54A;
}

.main-article {
    width: 100%;
    border-top: 2px solid #777;
    position: relative;
    padding: 5px;
}

.main-article .div-precio-descuento {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.precio,
.descuento,
.descripcion {
    margin-bottom: 5px;
}

.descuento {
    font-weight: bold;
    margin-left: 10px;
}

.descripcion {
    font-size: 12px;
}

.form-mis-productos {
display: flex;
justify-content: end;
align-items: center;
}

.contenedor-icono-eliminar {
    height: 100%;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 4px;
}

.contenedor-icono-eliminar:hover {
    background-color: rgba(206, 47, 47, 0.863);
}

.icono-eliminar {
    position: static;
}

button {
    background: none;
    border: none;
    width: 100%;
}

.icono-eliminar i {
    color: #000;
    font-size: 1.4rem;
}

.icono-eliminar i:hover {
    color: #000;
    cursor: pointer;
}

.contenedor-icono-editar {
    height: 100%;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 4px;
}

.contenedor-icono-editar:hover {
    background-color: rgb(255, 230, 2);
}

.contenedor-icono-editar i {
    color: #000;
    font-size: 1.4rem;
}


/* MEDIA QUERYS */

@media (min-width: 420px) {

    .bannner {
        width: 90%;
    }

    main {
        margin: 30px auto;
    }

    section {
        margin-bottom: 25px;
    }

    main section h3 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    main section article {
        box-shadow: none;
        width: 100px;
        height: 200%;
    }

    main section article img {
        object-fit: cover;
        height: 100%;
    }

    main section article .descripcion {
        display: block;
    }

    main section article:hover {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    main section .productos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    main section .productos article {
        width: 45%;
    }

    .precio,
    .descuento {
        width: 50%;
    }

    .descripcion {
        font-size: 1rem;
    }
}

@media (min-width: 769px) {

    main section .productos article {
        width: 22%;
    }

    main section h3 {
        font-size: 23px;
    }
}