* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: transparent;
  }
  
  body {
    min-width: 320px;
    font-family: "Roboto", sans-serif;
    background: #333;
  }
  
 /* H    E     A    D    E    R*/
nav {
    height: 50px;
    width: 100%;
    padding: 8px;
    background: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo {
    width: 30px;
    height: 100%;
    display: flex;
}

.logo img {
    height: 100%;
    width: 100%;
}

.logo p {
    display: none;
}

.barra-navegacion {
    border-radius: 10px;
    padding: 3px 8px;
    background-color: #fff;
    flex-grow: 0.3;
    display: flex;
    justify-content: space-between;
}

.barra-navegacion:hover {
    border: 2px solid rgb(255, 230, 0);
}

.barra-navegacion input {
    border: none;
    outline: none;
    flex-grow: 1;
}

.barra-navegacion input::placeholder {
    color: #555;
}

.barra-navegacion i {
    color: #000;
}

.barra-navegacion i:hover {
    color: rgb(255, 230, 2);
}

.movil-icons a {
    color: #fff;
}

.icono-carrito {
    margin-right: 5px;
}

.icono-carrito:hover,
.icono-bars:hover {
    color: rgb(255, 230, 2);
}

.icono-user {
    display: none;
    color: #fff;
}

.sub-nav {
    display: none;
}



/* -----  M  A   I   N  ----- */
  



  main {
    width: 90%;
    margin: 15px auto;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  main section {
    background-color: #fff;
    margin: 10px 0px;
    margin-bottom: 20px;
    outline: rgb(255, 230, 2) 1px solid;
    width: 60%;
    margin: 10px auto;
    margin-bottom: 20px;
  }
  



  /* FOOTER */

footer {
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 2rem 8%;
    background-color: #0E0E0E;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.social-icons-container,
.footer-menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.social-icon {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px solid #F2F2F2;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: all 0.5s ease;
}

.social-icon:hover {
    background-color: #002FFF;
    filter: invert(1);
}

.social-icon i {
    color: #fff;
    font-size: 1.5rem;
}

.footer-menu-container {
    list-style-type: none;
    color: #F2F2F2;
    font-size: 18px;
    transition: all 0.5s ease;
}

.footer-menu-container li {
    transition: all 0.4s ease;
}

.footer-menu-container li:hover {
    color: rgb(255, 251, 0);
}

.menu-item {
    margin: 1rem 1.5rem;
    cursor: pointer;
    opacity: 0.6;
}

.menu-item:hover {
    opacity: 1;
}

.copyright {
    color: #F2F2F2;
    opacity: 0.3;
    text-align: center;
}
