* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-width: 320px;
}

nav {
    height: 50px;
    width: 100%;
    padding: 8px;
    background: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 30px;
    height: 100%;
}

.barra-navegacion {
    border-radius: 10px;
    padding: 3px 8px;
    background-color:#fff;
    flex-grow: 0.5;
    display: flex;
    justify-content: space-between;
}

.barra-navegacion input {
    border: none;
    outline: none;
    flex-grow: 1;
}

.barra-navegacion i {
    color: #000;
}

.icono-bars {
    
}

.icono-user {
    display: none;
    color: #fff;
}



.sub-nav {
    display: none;
}

@media (min-width: 420px) {
    .barra-navegacion {
        border-radius: 0;
        border-bottom: 4px solid rgb(255, 230, 0);
        background-color: rgba(204, 204, 204, 0.884);
    }

    .barra-navegacion input {
        padding: 3px;
        background-color: transparent;
    }

    .barra-navegacion input:focus {
        background: linear-gradient(to top, #ccc, #fff);
    }

    .barra-navegacion i {
        margin-left: 7px;
        margin-top: 2px;
    }

    .icono-bars {
        display: none;
    }
    
    .icono-user {
        display: block;
    }
}