*{
    font-family: 'Kanit', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-image: url(/images/pexels-victor-freitas-841130.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(61, 61, 61);
}

.logo{
    border: dashed 2px red;
    display: flex;
    align-items: center;
}

.logo img{
    width: 50px;
    height: 50px;
}

header p{
    position: relative;
    color: white
}

/* .logo{
    display: flex;
    border: dashed 2px red;
}

.logo img{
    size: 12px;
}

.logo p{
    text-align: center;
} */

