<!DOCTYPE html>
<html lang="en">    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Dosis:wght@200&family=IBM+Plex+Sans:ital,wght@1,200&family=M+PLUS+1+Code:wght@300&family=Roboto:wght@300&family=Rubik:wght@500&family=Shippori+Antique&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0442526d0c.js" crossorigin="anonymous"></script>
    <title>Home-shop</title>
    <link rel="stylesheet" href="/css/home-shop.css">
</head>

<body>
    <header>
        <nav>
            <a href="/home-shop" class="link-logo">
                <div class="logo">
                    <img src="/images/logoX.png">
                    <p>FitXperience</p>
                </div>
            </a>
            
            <div class="barra-navegacion">
                <input type="text" placeholder="buscar producto">
                <a href="#"><i class="fa-solid fa-search"></i></a>
            </div>

            <div class="movil-icons">
                <a href="/carrito"><i class="fa-solid fa-cart-shopping icono-carrito"></i></a>
                <i class="fa-solid fa-bars icono-bars"></i>
            <a href="/login" class="icono-user"><i class="fa-solid fa-circle-user"></i></a>
            </div>
        </nav>
        <div class="sub-nav">
            <ul class="left-ul">
                <li><a href="#">Accesorios</a></li>
                <li><a href="#">Categorias</a></li>
                <li><a href="#">Ofertas</a></li>
              </ul>

              <ul class="right-ul">
                <li><a href="/register">Creá tu cuenta</a></li>
                <li><a href="#">
                    <i class="fa-solid fa-heart"></i></a></li>
                <li>
                    <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></i></a></li>
              </ul>
        </div>
    </header>

    <img
    src="images/accessories-desktop-banner.jpg" class="bannner" alt="banner"/>



    <main>
        <section class="ofertas">
            <a href="#"><h3>Productos en ofertas</h3></a>
            <div class="productos">
                <article>
                    <a href="#">
                     <img src="/images/pexels-victor-freitas-841130.jpg" alt="Cafetera">
                      <div class="main-article">
                        <div class="div-precio-descuento">
                            <p class="precio">$6.770</p>
                            <p class="descuento">40% off</p>
                        </div>
                       <h4 class="descripcion">Cafetera Moulinex</h4>
                     </div>
                    </a>
                </article>

                <article>
                    <a href="#">
                        <img src="/images/pexels-victor-freitas-841130.jpg" alt="MacBook">
                    <div class="main-article">
                        <div class="div-precio-descuento">
                            <p class="precio">$230.000</p>
                            <p class="descuento">20% off</p>
                        </div>
                        <h4 class="descripcion">MacBook Pro 2019</h4>
                    </div>
                    </a>

                </article>
                <article>
                    <a href="#">
                        <img src="/images/pexels-victor-freitas-841130.jpg" alt="Teléfono Móvil Samsung Galaxy">
                    <div class="main-article">
                        <div class="div-precio-descuento">
                            <p class="precio">$70.500</p>
                            <p class="descuento">10% off</p>
                        </div>
                    <h4 class="descripcion">Samsung Galaxy S10</h4>
                    </div>
                    </a>
                </article>
    
                <article>
                    <a href="#">
                        <img src="/images/pexels-victor-freitas-841130.jpg" alt="SmartTv Samsung">
                    <div class="main-article">
                        <div class="div-precio-descuento">
                            <p class="precio">$23.200</p>
                            <p class="descuento">5% off</p>
                        </div>
                        <h4 class="descripcion">SmartTv Samsung 43"</h4>
                    </div>
                    </a>
                </article>
            </div>  
        </section>




        <section class="ult-visita">
            <a href="#"><h3>Basado en tu última visita</h3></a>
            <div class="productos">
                <article>
                    <a href="#">
                        <img src="/images/pexels-victor-freitas-841130.jpg" alt="Cafetera">
                    <div class="main-article">
                        <div class="div-precio-descuento">
                            <p class="precio">$6.770</p>
                            <p class="descuento">40% off</p>
                        </div>
                        <h4 class="descripcion">Cafetera Moulinex</h4>
                    </div>
                    </a>
                </article>

                <article>
                    <a href="#">
                        <img src="/images/pexels-victor-freitas-841130.jpg" alt="MacBook">
                    <div class="main-article">
                        <div class="div-precio-descuento">
                            <p class="precio">$230.000</p>
                            <p class="descuento">20% off</p>
                        </div>
                        <h4 class="descripcion">MacBook Pro 2019</h4>
                    </div>
                    </a>
                </article>

                <article>
                    <a href="#">
                        <img src="/images/pexels-victor-freitas-841130.jpg" alt="Teléfono Móvil Samsung Galaxy">
                    <div class="main-article">
                        <div class="div-precio-descuento">
                            <p class="precio">$70.500</p>
                            <p class="descuento">10% off</p>
                        </div>
                        <h4 class="descripcion">Samsung Galaxy S10</h4>
                    </div>
                    </a>
                </article>

                <article>
                    <a href="#">
                        <img src="/images/pexels-victor-freitas-841130.jpg" alt="SmartTv Samsung">
                    <div class="main-article">
                        <div class="div-precio-descuento">
                            <p class="precio">$23.200</p>
                            <p class="descuento">5% off</p>
                        </div>
                        <h4 class="descripcion">SmartTv Samsung 43"</h4>
                    </div>
                    </a>
                </article>
            </div>
        </section>
    </main>
</body>

</html>