<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Dosis:wght@200&family=IBM+Plex+Sans:ital,wght@1,200&family=M+PLUS+1+Code:wght@300&family=Roboto:wght@300&family=Rubik:wght@500&family=Shippori+Antique&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0442526d0c.js" crossorigin="anonymous"></script>
    <title>Home-shop</title>
    <link rel="stylesheet" href="/css/home-shop.css">
    <link rel="icon" type="text/css" href="/images/logoX-icono.png">
</head>
<body>
    <header>
        <nav>
            <a href="/home-shop" class="link-logo">
                <div class="logo">
                    <img src="/images/logoX.png">
                    <p>FitXperience</p>
                </div>
            </a>
            <div class="barra-navegacion">
                <input type="text" placeholder="buscar producto">
                <a href="#"><i class="fa-solid fa-search"></i></a>
            </div>
            <div class="movil-icons">
                <a href="/carrito"><i class="fa-solid fa-cart-shopping icono-carrito"></i></a>
                <i class="fa-solid fa-bars icono-bars"></i>
            <a href="/login" class="icono-user"><i class="fa-solid fa-circle-user"></i></a>
            </div>
        </nav>
        <div class="sub-nav">
            <ul class="left-ul">
                <li><a href="#">Accesorios</a></li>
                <li><a href="#">Categorias</a></li>
                <li><a href="#">Ofertas</a></li>
              </ul>
              <ul class="right-ul">
                <li><a href="/register">Creá tu cuenta</a></li>
                <li><a href="#">
                    <i class="fa-solid fa-heart"></i></a></li>
                <li>
                    <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></i></a></li>
              </ul>
        </div>
    </header>
    <img
    src="images/accessories-desktop-banner.jpg" class="bannner" alt="banner"/>
    <main>
        <section class="ofertas">
            <a href="#"><h3>Productos en ofertas</h3></a>
            <div class="productos">
                <article>
                    <a href="#">
                     <img src="/images/pesas(1).webp" alt="pesas-negro">
                      <div class="main-article">
                        <div class="div-precio-descuento">
                            <p class="precio">$12.518</p>
                            <p class="descuento">40% off</p>
                        </div>
                       <h4 class="descripcion">Barra + 2 mancuernas</h4>
                     </div>
                    </a>
                </article>
                <article>
                    <a href="#">
                        <img src="/images/pesas-rojo.webp" alt="pesas-rojo">
                    <div class="main-article">
                        <div class="div-precio-descuento">
                            <p class="precio">$14.560</p>
                            <p class="descuento">35% off</p>
                        </div>
                        <h4 class="descripcion">Barra kit 30kg</h4>
                    </div>
                    </a>
                </article>
                <article>
                    <a href="#">
                        <img src="/images/banco-press.webp" alt="banco-press">
                    <div class="main-article">
                        <div class="div-precio-descuento">
                            <p class="precio">$70.500</p>
                            <p class="descuento">30% off</p>
                        </div>
                    <h4 class="descripcion">Press-banco</h4>
                    </div>
                    </a>
                </article>
                <article>
                    <a href="#">
                        <img src="/images/discos.webp" alt="discos">
                    <div class="main-article">
                        <div class="div-precio-descuento">
                            <p class="precio">$23.200</p>
                            <p class="descuento">45% off</p>
                        </div>
                        <h4 class="descripcion">Barra Recta + Kit Discos</h4>
                    </div>
                    </a>
                </article>
            </div>
        </section>
        <section class="ult-visita">
            <a href="#"><h3>Basado en tu última visita</h3></a>
            <div class="productos">
                <article>
                    <a href="#">
                        <img src="/images/multigimnasio.webp" alt="multigimnasio">
                    <div class="main-article">
                        <div class="div-precio-descuento">
                            <p class="precio">$84.999</p>
                            <p class="descuento">20% off</p>
                        </div>
                        <h4 class="descripcion">Multigimnasio 75kg</h4>
                    </div>
                    </a>
                </article>
                <article>
                    <a href="#">
                        <img src="/images/caminadora.webp" alt="caminadora">
                    <div class="main-article">
                        <div class="div-precio-descuento">
                            <p class="precio">$56.999</p>
                            <p class="descuento">15% off</p>
                        </div>
                        <h4 class="descripcion">Cinta de correr eléctrica</h4>
                    </div>
                    </a>
                </article>
                <article>
                    <a href="#">
                        <img src="/images/cuerdas.webp" alt="cuerdas">
                    <div class="main-article">
                        <div class="div-precio-descuento">
                            <p class="precio">$2.399</p>
                            <p class="descuento">10% off</p>
                        </div>
                        <h4 class="descripcion">Cuerda De Saltar Aluminio</h4>
                    </div>
                    </a>
                </article>
                <article>
                    <a href="#">
                        <img src="/images/colchonetas.webp" alt="colchonetas">
                    <div class="main-article">
                        <div class="div-precio-descuento">
                            <p class="precio">$1.416</p>
                            <p class="descuento">5% off</p>
                        </div>
                        <h4 class="descripcion">Colchoneta Gimnasia</h4>
                    </div>
                    </a>
                </article>
            </div>
        </section>
    </main>

    <footer>
        <div class="social-icons-container">
            <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
            <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
        </div>
        <ul class="footer-menu-container">
            <li class="menu-item">Legal</li>
            <li class="menu-item">Cookies</li>
            <li class="menu-item">Privacidad</li>
            <li class="menu-item">Envíos</li>
            <li class="menu-item">Devoluciones</li>
        </ul>
        <span class="copyright">&copy;2022, FitXperience. All rights reserved.</span>
    </footer>
</body>
</html>